* {
    font-family: "Rubik", sans-serif;
    color: #393c41;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    overflow-x: hidden ;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}



@keyframes animateDown {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(3px)
    }
}